*{
  padding: 0;
  margin: 0;
}

.background_img{
  background-image: url(./components/images/BackgroundImage.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height:100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card_div{
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar{
display: flex;
justify-content: flex-start;
align-items: center;
padding-right: 10px;
padding-left: 10px;
}

.users_list{
  height: 50vh;
  overflow: scroll;
}

::-webkit-scrollbar{
  height: 0px;              
  width: 0px;              
  /* border: 1px solid #d5d5d5; */
}